<!DOCTYPE html>
<html ng-app="aplicacion">
    <head>
        <meta charset="utf-8" />
        <title> Reglas </title>
        <link type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
        <script type="text/javascript" src="/javascripts/angular.min.js"></script>
        <script type="text/javascript" src="/javascripts/script.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="Reglas" ng-init="cargarReglas()">
            <h1> Reglas </h1>
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="span4">                    
                        <label> Nombre </label>
                        <input type="text" ng-model="nombre" />
                    </div>
                    <div class="span4">
                        <label> Condicion </label>
                        <input type="text" ng-model="condicion" />
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <input type="submit" value="Guardar" class="btn btn-success" ng-click="guardarReglas()" />
                        <input type="button" value="Limpiar" class="btn btn-danger" ng-click="limpiarReglas()" />
                        <a class="btn btn-info" href="/jsoneditor" > CREAR </a>
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th> Identficador </th>
                        <th> Nombre </th>
                        <th> Condicion </th>
                        <th> Operaciones </th>
                        <th>  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in reglas">
                        <td> {{item._id}} </td>
                        <td> {{item.nombre}} </td>
                        <td> {{item.condicion}} </td>
                        <td> <a href="javascript:void(0);" class="btn btn-info" ng-click="recuperarReglas(item._id)"> Editar </a> </td>
                        <td> <a href="javascript:void(0);" class="btn btn-danger" ng-click="eliminarReglas(item._id)"> Eliminar </a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>