<!DOCTYPE HTML>
<html ng-app="jsoneditor">
<head>
    <!-- when using the mode "code", it's important to specify charset utf-8 -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>

    <link href="stylesheets/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="javascripts/jsoneditor.min.js"></script>
</head>
<body>
    <div id="jsoneditor" ng-controller="Json" style="width: 400px; height: 400px;"></div>


    <input type="button" value="Guardar"  class="btn btn-success" ng-click="" />
    <input  id="json">
    <button id="get"> get </button>

        <script type="text/javascript">
        // create the editor
        var container = document.getElementById("jsoneditor");
        var options = {};
        var editor = new JSONEditor(container, options);

        // set json
        var json = {
            "Array": [1, 2, 3],
            "Boolean": true,
            "Null": null,
            "Number": 123,
            "Object": {"a": "b", "c": "d"},
            "String": "Hello World"
        };
        editor.set(json);

        // get json
        document.getElementById('get').onclick = function () {
        var json = editor.get();
        alert(JSON.stringify(json, null, 2));
     };
        var json = editor.get();
        document.getElementById('json').value = json;
    </script>
</body>
</html>